/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'antd/dist/antd.less';
/* @import '~assets/styles/index.scss'; */

/* .line-clamp-3 {
    @apply overflow-hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
} */