@tailwind base;
@tailwind components;
@tailwind utilities;

@import "antd/dist/antd.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
    top: 0 !important;
    font-family: Montserrat, Helvetica, "sans-serif";
    @apply text-sm;

    b,
    strong {
        font-weight: 700;
    }
}
.line-clamp-3 {
    @apply overflow-hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}
.line-clamp-4 {
    @apply overflow-hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
}
@media (min-width: 1150px) {
    .container {
        max-width: 1028px;
    }
}

.big-container {
    @media (min-width: 1280px) {
        max-width: 1800px;
    }
    @media (min-width: 1024px) {
        max-width: 1024px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 640px) {
        max-width: 640px;
    }
}
.big-container {
    width: 100%;
}
@media (min-width:640px) {
    .big-container {
        max-width: 640px;
    }
}
@media (min-width:720px) {
    .big-container {
        max-width: 720px
    }
}
@media (min-width:768px) {
    .big-container {
        max-width: 768px
    }
}
@media (min-width:1024px) {
    .big-container {
        max-width: 1024px
    }
}
@media (min-width:1280px) {
    .big-container {
        max-width: 1280px
    }
}
@media (min-width:1536px) {
    .big-container {
        max-width: 1800px
    }
}
.contact {
    @media (min-width: 1150px) {
        max-width: 1800px;
        margin: 0 auto;
    }
    right: 0;
}
.ant-select-selector {
    background: transparent !important;
    border-color: #2699fb !important;
    .ant-select-selection-item {
        @apply text-xs;
    }
}
.ant-select-selection-placeholder {
    color: #2699fb !important;
    font-size: 12px !important;
}
.ant-checkbox-wrapper {
    .ant-checkbox {
        .ant-checkbox-inner {
            border-color: #2699fb !important;
        }
    }
    span {
        font-size: 10px;
    }
}
.ant-form-item {
    margin-bottom: 9px;
    .ant-input {
        padding: 6px 11px;
    }
}
.slick-slider {
    .slick-disabled {
        opacity: 0.45;
        transition: 0.1s all;
    }
}
.slick-live-game {
    .slick-prev {
        left: 0;
        z-index: 100;
    }
    .slick-next {
        right: 0;
        z-index: 100;
    }
}
.slick-news {
    // @apply relative;
    .slick-arrow {
        @apply absolute w-5;
        top: 106%;
        z-index: 100;
    }
    .slick-prev {
        left: 44%;
    }
    .slick-next {
        right: 44%;
    }
}
.animate-spin {
    animation: spin 1s linear infinite;
    display: none;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}

.slick-event {
    .slick-dots {
        // bottom: -37px;
        li {
            @apply mx-3;
        }
    }
    .slick-center {
        min-height: 600px;
        transform: scale(1.07);
        .title-event,
        .readmore-event {
            display: block;
        }
        .content-event {
            display: none;
        }
    }
    .title-event,
    .readmore-event {
        display: none;
    }
    .content-event {
        display: block;
    }
}
.spin {
    position: relative;
}

.spin::before,
.spin::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 113%;
    height: 113%;
}

.spin {
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin::before,
.spin::after {
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
}

.spin::before {
    border: 2px solid transparent;
}

.spin::after {
    border: 0 solid transparent;
}
.slick-active {
    .spin::after {
        border-top: 2px solid #2699fb;
        border-left-width: 2px;
        border-right-width: 2px;
        transform: rotate(270deg);
        transition: transform 3.2s linear 0s, border-left-width 0s linear 2.8s, -webkit-transform 3.2s linear 0s;
    }
    .spin::before {
        border-top-color: #2699fb;
        border-right-color: #2699fb;
        border-bottom-color: #2699fb;
        transition: border-top-color 1.2s linear, border-right-color 1.2s linear 0.8s,
            border-bottom-color 1.2s linear 1.6s;
    }
    .spin {
        @apply border-2 border-white;
    }
}

.circle {
    border-radius: 100%;
    box-shadow: none;
}

.circle::before,
.circle::after {
    border-radius: 100%;
    padding: 0;
    margin: 0;
}
.footer {
    .ant-select-selector {
        @apply bg-white;
        background: white !important;
    }
    .ant-select-selector {
        .ant-select-selection-item {
            color: #2699fb !important;
            font-size: 15px !important;
        }
    }
}
